// ---COLORS---
$ClassicBlue: #34568b;
$livingcoral: #ff6f61;
$UltraViolet: #6b5b95;
$Greenery: #88b04b;
$RoseQuartz: #f7cac9;
$Serenity: #92a8d1;
$marsala: #955251;
$RadiandOrchid: #b565a7;
$Emerald: #009b77;
$TangerineTango: #dd4124;
$Honeysucle: #d65076;
$Turquoise: #45b8ac;
$Mimosa: #efc050;
$BlueIzis: #5b5ea6;
$TrueRed: #bc243c;
$FuchsiaRose: #c3447a;
$FUCHSIA: #f012be;
$GRAY: #aaaaaa;
$SILVER: #dddddd;
$PURPLE: #b10dc9;
$BLACK: #111111;
$NAVY: #001f3f;
$BLUE: #0074d9;
$AQUA: #7fdbff;
$TEAL: #39cccc;
$OLIVE: #3d9970;
$GREEN: #2ecc40;
$LIME: #01ff70;
$ORANGE: #ff851b;
$YELLOW: #ffdc00;
$RED: #ff4136;
$MAROON: #85144b;
